.login {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-wrap: wrap;

    height: 50%;
    width: 100%;
}

.login .form {
    width: 60%;
}

.login .userName {
    margin-bottom: 24px;
}

.login .password {
    margin-bottom: 24px;
}
