.main {
    display: flex;

    max-width: 38rem;
    margin: auto;

    height: 100%;
    overflow: hidden;
    position: relative;

    background-color: white;
    box-shadow: 0px 2px 4px 0px rgba(31, 31, 31, 0.3);
}

.react-codemirror2 {
    width: 100%;
}

.react-codemirror2 :first-child {
    height: 80%;
}
