.submit {
    flex-grow: 1;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;

    background-color: white;
}

.options {
    width: 100%;
    flex: 0 0 auto;
    padding-left: 12px;
    box-sizing: border-box;

    border-top: 1px solid black;
}

.options > * {
    margin-right: 12px;
}

.options .button {
    float: right;
}

.activeEditor .react-codemirror2 {
    flex-grow: 1;

    width: 100%;
}


.activeEditor .react-codemirror2 :first-child {
    height: 100%;
}
