
.titleBar {
    background-color: lightblue;

    min-height: 50px;
    flex: 0 0 auto;

    padding: 20px 20px;
}

.titleBar > .title {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.titleBar p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}