.inactiveEditor {
    flex-grow: 1;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
}


.inactiveEditor .react-codemirror2 {
    border-bottom: none;

    flex-grow: 1;
    width: 100%;
}

.inactiveEditor .react-codemirror2 :first-child {
    height: 100%;
}
